button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    border-radius: 15px;
    
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: green;
}

.boton-clic{
    background-color: blueviolet;
}

.boton-reiniciar{
    background-color: blue;
}